body {
    font-family: 'Fira Code', monospace;
    background-color: #fce9c0;
    color: #333;
    min-height: 100vh;
    font-weight: 600;
}
.response-container {
    margin-top: 20px;
}
.error-message {
    color: red;
}
input {
    font-family: 'Fira Code', monospace;
}
button {
    font-family: 'Fira Code', monospace;
}
textarea {
    font-family: 'Fira Code', monospace;
}
select {
    font-family: 'Fira Code', monospace;
}
pre {
  background-color: black;
}